@charset "utf-8";

* {
	box-sizing: border-box;
	margin : 0 ;
	padding : 0 ;
}

body {
	display: flex ;
	width : 100% ;
}

h1 {
	padding-top : 0.5vh;
	font-size: 23vh;
	font-weight : bold;
	text-align: center;
	width:40vh;
	height:25vh;
}

li {
	list-style-type: none;
}

label {
		cursor: pointer;
}

label img {
	margin: 0.5vh
}

#input-range{
	-webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #8acdff;
  height: 1.5vh;
  width: 100%;
  border-radius: 1vh;
  border: solid 0.5vh #dff1ff;
}


.right_side {
	width : 100% ;
	height : 100vh ;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right_side_wrapper {
	position : relative ;
	top : -5% ;
	max-width: 100%;
}

.flex_list {
	display: flex ;
}

.flex_list li {
	width : 10.5vh ;
	padding : 3vh ;
}

.play,
.stop {
	margin: 0.5vh ;
	height: 11vh;
	font-size: 5vh;
	background : #333 ;
	color : #fff ;
	cursor : pointer ;
	text-align: center ;
}

.ctrl_panel {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2vh;
}

.tempo_ctrl li {
	text-align : center ;
	padding : 0.5vh ;
	margin : 0.5vh ;
	height: 5vh;
	font-size: 4vh;
	background : #333 ;
	color : #fff ;
	cursor : pointer ;
}

.input_panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tempo_input li {
	text-align : center ;
	padding-top : 2vh;
	margin : 0.5vh ;
	width: 10.5vh;
	height: 8vh;
	font-size: 4vh;
	background : #333 ;
	color : #fff ;
	cursor : pointer ;
}

.mode_panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mode_panel input[type = radio] {
	display: none;
}

.mode_panel input[type = radio]:checked + label img{
	border: solid 0.5vh #333;
	background-color: #dcdcdc
}
